.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
    transition: transform 0.3s ease-in-out;
}

.link:hover,
.link:focus {
    transform: scale(1.2);
}

.link.active {
    color: #e84a5f;
}

header {
    font-size: 35px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    background-color: transparent;
}