.container {
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(127, 182, 186);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #91b3b4;
}

.container:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    border-color: #8dbab5;
    transform: translateY(-3px);
}

.box {
    display: flex;
    flex-direction: column;
}

.nameBox,
.numberBox {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Pacifico';
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: #48706c;
    border: 1px solid #7d9997;
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    cursor: pointer;
    color: rgb(34, 50, 44);
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #3d5554;
    color: beige;
    transform: scale(1.1);
}

.name,
.number {
    font-size: 20px;
    margin: 5px;
}