.wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}
.logoutBtn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #48706c;
    border: 1px solid #7d9997;
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    cursor: pointer;
   color:  rgb(34, 50, 44);
}
.logoutBtn:hover,
.logoutBtn:focus {
    background: #3d5554;
    color: beige;
    transform: scale(1.1);
}
.username {
    font-size: 18px;
}
.span {
    font-weight: bold;
}
svg {
    width: 25px;
    height: 25px;
}
@media only screen and (min-width: 375px) {
    .username {
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .username {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1440px) {
    .username {
        font-size: 45px;
    }
}